@model JobSearching.ViewModels.AdvertCreateViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<p class="headlineFont">Add An Advert</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createAdvertForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployerId" class="control-label"></label>
                <input asp-for="EmployerId" class="form-control" required />
                <span asp-validation-for="EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" required />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>-->
           <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" form="createAdvertForm" class="form-control" required style="height:100px;resize:vertical;width:100%;overflow-y:auto;" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default">
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
