@model JobSearching.ViewModels.InvalidActionViewModel
@{
    ViewData["Title"] = "Error";
}

<head>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<br />
<h1>ERROR</h1>
<br />
<h2 style="color:red">@Model.ErrorMessage</h2>


